$plabook-primary: #123A53;
$plabook-secondary: #20628C;
$plabook-success: #BAD628;
$plabook-success-light: #D0D226;
$plabook-warning: #e53e28;
$plabook-warning-light: #f78434;
$plabook-info: #44AEC9;
$plabook-info-light: #9DE0F1;
$plabook-light: #FBFAFB;
$plabook-dark: #4C4B4C;
$plabook-magenta:#98179e;